<div
        id="area-{{ area.id }}"
        class="area"
        data-id="{{ area.id }}"
        data-size="{{ area.width }}"
        data-widgetid="{{ area.widget.id }}"
        style="width:calc({{ area.width }}% - 20px);"
>


    <div class="area-grip handle">
        <i class="fas fa-grip-vertical"></i> <br>
        <i class="fas fa-grip-vertical"></i> <br>
        <i class="fas fa-grip-vertical"></i> <br>
        <i class="fas fa-grip-vertical"></i> <br>
        <i class="fas fa-grip-vertical"></i>
    </div>
    <div class="area-inner">
        <div class="area-header">
            <input class="resizer" type="number" min="{{ areaMinSize }}" max="{{ areaMaxSize }}" step=".5" value="{{ area.width }}" size="2">
        </div>

        <div class="area-body">
            {% include 'form/_widget_type_picker.html.twig' %}
            {% include 'form/builder/_widget_'~ area.widget.type ~'.html.twig' ignore missing with {'widget': area.widget} %}
        </div>

        <div class="area-footer">
            <i class="delete-formArea fas fa-trash-alt"></i>
        </div>
    </div>


</div>