<div
        id="area-{{ area.id }}"
        class="area"
        data-id="{{ area.id }}"
        data-size="{{ area.width }}"
        style="width:calc({{ area.width }}% - 20px);"
>
    <div class="area-header">
        <div class="handle">
            <i class="fas fa-grip-vertical"></i>
        </div>
        <div><i class="delete-formArea fas fa-trash-alt"></i></div>
    </div>

    <div class="area-body">

    </div>

    <div class="area-footer">
        <input class="resizer" type="number" min="{{ areaMinSize }}" max="{{ areaMaxSize }}" step=".5" value="{{ area.width }}" size="2">
    </div>
</div>