{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form/edit') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('form/edit') }}
{% endblock %}

{% block body %}
    <h1>Edit form</h1>

    <div id="formWrapper">

        <div class="form-buttons">
            <div>
                <div class="autoSaveIndicator">
                    <i class="icon fas fa-compact-disc fa-spin"></i>
                </div>
            </div>
            <div>
                <button class="btn secondary add-formArea">Ajouter une zone</button>
                <button class="btn danger">Annuler</button>
                <button class="btn primary">Publier</button>
            </div>
        </div>

        <div id="form" data-id="{{ form.id }}" class="loading">
            {% for area in form.areas %}
                {% include 'form/_area.html.twig' with {'area': area} %}
            {% endfor %}
        </div>

        <div class="form-buttons">
            <div>
                <div class="autoSaveIndicator">
                    <i class="icon fas fa-compact-disc fa-spin"></i>
                </div>
            </div>
            <div>
                <button class="btn secondary add-formArea">Ajouter une zone</button>
                <button class="btn danger">Annuler</button>
                <button class="btn primary">Publier</button>
            </div>
        </div>

    </div>

    <div id="wrapperModalSetWidgetOptions" class="hidden">
        <div class="content"></div>
    </div>

{% endblock %}

