{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('categoryFormBuilder') }}
    {{ encore_entry_link_tags('fiche') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        /* For use in edit.js */
        const categoryId = "{{ category.id }}";
        const formId = "{{ form.id }}";
    </script>
    {{ encore_entry_script_tags('form/edit') }}
{% endblock %}

{% block body %}
    <h1>
        Edit form (draft)
        <a href="{{ url('category.edit', {'id': category.id}) }}">
            <button>Back</button>
        </a>
    </h1>

    <div id="formErrorDisplay">
        <p></p>
    </div>

    <div id="formWrapper">

        <div class="form-buttons">
            <div>
                <div class="autoSaveIndicator">
                    <i class="icon fas fa-compact-disc fa-spin"></i>
                </div>
            </div>
            <div style="display:flex;">
                <a href="{{ url('draftForm.preview', {'id': form.id}) }}" class="preview-draftForm">
                    <button class="btn secondary">Prévisualiser</button>
                </a>
                <button class="btn secondary add-formArea">Ajouter une zone</button>
                <button class="btn danger deleteDraftForm">Annuler</button>
                <button class="btn primary publishDraftForm">Publier</button>
            </div>
        </div>

        <div id="form" data-id="{{ form.id }}" class="loading">
            {% for area in form.areas %}
                {% include 'form/_area.html.twig' with {'area': area} %}
            {% endfor %}
        </div>

        <div class="form-buttons">
            <div>
                <div class="autoSaveIndicator">
                    <i class="icon fas fa-compact-disc fa-spin"></i>
                </div>
            </div>
            <div style="display: flex">
                <button class="btn secondary add-formArea">Ajouter une zone</button>
                <button class="btn danger deleteDraftForm">Annuler</button>
                <button class="btn primary publishDraftForm">Publier</button>
            </div>
        </div>

    </div>

    <div id="wrapperModal" class="hidden">
        <div class="content"></div>
    </div>

{% endblock %}

