{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form/edit') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('form/edit') }}
{% endblock %}

{% block body %}
    <h1>Edit form</h1>

    <div id="formWrapper">

        <div class="form-buttons">
            <button class="btn secondary add-formArea">Ajouter une zone</button>
            <button class="btn primary">Enregistrer</button>
        </div>

        <div id="form" data-id="{{ form.id }}" class="loading">
            {% for area in form.areas %}
                {% include 'form/_area.html.twig' with {'area': area} %}
            {% endfor %}
        </div>

        <div class="form-buttons">
            <button class="btn secondary add-formArea">Ajouter une zone</button>
            <button class="btn primary">Enregistrer</button>
        </div>

        <div id="form_loadingOverlay">
            <div style="text-align: center;">
                <i class="icon far fa-snowflake"></i>
                <br>
                <p class="text-loading">Chargement ...</p>
            </div>
        </div>
    </div>

    <div id="wrapperModalSetWidgetOptions" class="hidden">
        <div class="content"></div>
    </div>

{% endblock %}

