{% extends 'form_div_layout.html.twig' %}

{%- block fichit_empty_row -%}
    {{ form_area_start(widget.formArea) }}
    {{ form_area_end(widget.formArea) }}
{% endblock %}

{%- block fichit_label_row -%}
    {{ form_area_start(widget.formArea) }}
        {% set textAlign = widget.textAlign|default( textAlignPositions.toArray()|first ) %}
        <div style="text-align:{{ textAlign }}; color:{{ widget.textColor }}; width:100%;">
            <div>{{ widget.innerText|nl2br }}</div>
        </div>
    {{ form_area_end(widget.formArea) }}
{%- endblock -%}

{%- block fichit_string_row -%}
    {{ form_area_start(widget.formArea) }}
        {% if form.parent.vars.mode is same as('DISPLAY') %}
            <div>{{ dump(form.vars.value) }}</div>
        {% elseif form.parent.vars.mode is same as('SEARCH') %}
            {{ form_widget(form.criteria) }}
            {{ form_widget(form.value) }}
        {% else %}
            {{- block('form_widget_simple') -}}
            {{ form_errors(form) }}
        {% endif %}
    {{ form_area_end(widget.formArea) }}
{%- endblock -%}

{%- block fichit_video_row -%}
    {{ form_area_start(widget.formArea) }}
    {% if form.parent.vars.mode is same as('DISPLAY') %}
        {% if form.vars.value is not null %}
            <div class="videoWrapper">
                <iframe src="{{ form.vars.value }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        {% endif %}
    {% elseif form.parent.vars.mode is same as('SEARCH') %}
        {{ form_widget(form.criteria) }}
    {% else %}
        {{- block('form_widget_simple') -}}
        {{ form_errors(form) }}
    {% endif %}
    {{ form_area_end(widget.formArea) }}
{%- endblock -%}

{%- block fichit_date_row -%}
    {{ form_area_start(widget.formArea) }}
    {% if form.parent.vars.mode is same as('DISPLAY') %}
        <div>{{ form.vars.value }}</div>
    {% elseif form.parent.vars.mode is same as('SEARCH') %}
        {{ form_widget(form.criteria) }}
        {{ form_widget(form.value) }}
        {{ form_widget(form.value2) }}
        {{ form_widget(form.valueYear) }}
        {{ form_widget(form.valueYearFrom) }}
        {{ form_widget(form.valueYearTo) }}
        {{ form_widget(form.valueMonth) }}
        {{ form_widget(form.valueMonthFrom) }}
        {{ form_widget(form.valueMonthTo) }}
        {{ form_widget(form.valueDay) }}
        {{ form_widget(form.valueDayFrom) }}
        {{ form_widget(form.valueDayTo) }}
    {% else %}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    {% endif %}
    {{ form_area_end(widget.formArea) }}
{%- endblock -%}

{%- block fichit_time_row -%}
    {{ form_area_start(widget.formArea) }}
    {% if form.parent.vars.mode is same as('DISPLAY') %}
        <div>{{ form.vars.value }}</div>
    {% elseif form.parent.vars.mode is same as('SEARCH') %}
        {{ form_widget(form.criteria) }}
        {{ form_widget(form.value) }}
        {{ form_widget(form.value2) }}
        {{ form_widget(form.hour) }}
        {{ form_widget(form.hour2) }}
        {{ form_widget(form.minOrSec) }}
        {{ form_widget(form.minOrSec2) }}
    {% else %}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    {% endif %}
    {{ form_area_end(widget.formArea) }}
{%- endblock -%}

{%- block fichit_int_row -%}
    {{ form_area_start(widget.formArea) }}
    {% if form.parent.vars.mode is same as('DISPLAY') %}
        <div>{{ form.vars.value }}</div>
    {% elseif form.parent.vars.mode is same as('SEARCH') %}
        {{ form_widget(form.criteria) }}
        {{ form_widget(form.value) }}
        {{ form_widget(form.value2) }}
    {% else %}
        {{- block('integer_widget') -}}
        {{ form_errors(form) }}
    {% endif %}
    {{ form_area_end(widget.formArea) }}
{%- endblock -%}

{%- block fichit_float_row -%}
    {{ form_area_start(widget.formArea) }}
    {% if form.parent.vars.mode is same as('DISPLAY') %}
        <div>{{ form.vars.value }}</div>
    {% elseif form.parent.vars.mode is same as('SEARCH') %}
        {{ form_widget(form.criteria) }}
        {{ form_widget(form.value) }}
        {{ form_widget(form.value2) }}
    {% else %}
        {{- block('integer_widget') -}}
        {{ form_errors(form) }}
    {% endif %}
    {{ form_area_end(widget.formArea) }}
{%- endblock -%}

{%- block fichit_text_row -%}
    {{ form_area_start(widget.formArea) }}
        {% if form.parent.vars.mode is same as('DISPLAY') %}
            <div>{{ form.vars.value }}</div>
        {% elseif form.parent.vars.mode is same as('SEARCH') %}
            {{ form_widget(form.criteria) }}
            {{ form_widget(form.value) }}
        {% else %}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        {% endif %}
    {{ form_area_end(widget.formArea) }}
{%- endblock -%}

{%- block fichit_radio_row -%}
    {{ form_area_start(widget.formArea) }}
        {% if form.parent.vars.mode is same as('DISPLAY') %}
            {{ transformed_value_to_display }}
        {% elseif form.parent.vars.mode is same as('SEARCH') %}
            {{ form_widget(form.criteria) }}
            {{ form_widget(form.value) }}
        {% else %}
            {{- block('choice_widget') -}}
            {{ form_errors(form) }}
        {% endif %}
    {{ form_area_end(widget.formArea) }}
{%- endblock -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul>
            {%- for error in errors -%}
                <li>
                    <small>{{ error.message }}</small>
                </li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}

{%- block form_start -%}
    {% if form.vars.mode is same as('DISPLAY') %}
        <div id="fiche">
    {% else %}
        {{ parent() }}
    {% endif %}
{%- endblock form_start -%}

{%- block form_end -%}
    {% if form.vars.mode is same as('DISPLAY') %}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{%- endblock -%}

{%- block fichit_button_row -%}
    {{ form_area_start(widget.formArea) }}
        {% if form.vars.mode is same as('DISPLAY') %}
            {% if form.vars.value %}
                {% if form.vars.value.target is not empty %}
                    <a href="{{ form.vars.value.target }}" target="_blank">
                        <button type="button">
                            {{ form.vars.value.label is not empty ? form.vars.value.label : form.vars.value.target  }}
                        </button>
                    </a>
                {% endif %}
            {% endif %}
        {% elseif form.parent.vars.mode is same as('SEARCH') %}
            {{ form_widget(form.criteria) }}
            {{ form_widget(form.value) }}
        {% else %}
            {{ form_widget(form.label) }}
            {{ form_widget(form.target) }}
        {% endif %}
    {{ form_area_end(widget.formArea) }}
{%- endblock -%}

{%- block fichit_map_row -%}
    {{ form_area_start(widget.formArea) }}
    {% if form.vars.mode is same as('SEARCH') %}
        {{ form_widget(form.criteria) }}
        {{ form_widget(form.mapAround) }}
    {% else %}
        {% if form.vars.mapShouldDisplay %}
            <div id="map-widget-{{ widget.id }}" data-mode="{{ form.vars.mode }}" class="mapWrapper" data-type="leaflet-map" style="width:100%;height:400px;">
                {{- block('hidden_widget') -}}
            </div>
        {% endif %}
    {% endif %}
    {{ form_area_end(widget.formArea) }}
{%- endblock -%}

{%- block fichit_fiche_creator_row -%}
    {{ form_area_start(widget.formArea) }}
        {% if form.parent.vars.mode is same as('SEARCH') %}
            {{ form_widget(form.criteria) }}
            {{ form_widget(form.value) }}
        {% else %}
            {{ form.vars.value|default('ficheCreatorRemoved') }}
        {% endif %}
    {{ form_area_end(widget.formArea) }}
{%- endblock -%}

{%- block fichit_picture_row -%}
    {{ form_area_start(widget.formArea) }}
        {% if form.vars.mode is same as('DISPLAY') %}
            {{ showPicture(form.vars.picture) }}
        {% elseif form.vars.mode is same as('SEARCH') %}
            {{ form_widget(form.criteria) }}
        {% else %}
            {{ block('custom_picture_row') }}
            {{ form_errors(form) }}
        {% endif %}
    {{ form_area_end(widget.formArea) }}
{%- endblock -%}