{% extends 'form_div_layout.html.twig' %}

{%- block fichit_empty_row -%}
    {{ form_area_start(widget.formArea) }}
    {{ form_area_end(widget.formArea) }}
{% endblock %}

{%- block fichit_label_row -%}
    {{ form_area_start(widget.formArea) }}
        {% set textAlign = widget.textAlign|default( textAlignPositions.toArray()|first ) %}
        <div style="text-align:{{ textAlign }}; color:{{ widget.textColor }}; width:100%;">
            <div>{{ widget.innerText|nl2br }}</div>
        </div>
    {{ form_area_end(widget.formArea) }}
{%- endblock -%}

{%- block fichit_string_row -%}
    {{ form_area_start(widget.formArea) }}
        {% if form.parent.vars.mode is same as('DISPLAY') %}
            <div>{{ form.vars.value }}</div>
        {% elseif form.parent.vars.mode is same as('SEARCH') %}
            {{ form_widget(form.criteria) }}
            {{ form_widget(form.value) }}
        {% else %}
            {{- block('form_widget_simple') -}}
            {{ form_errors(form) }}
        {% endif %}
    {{ form_area_end(widget.formArea) }}
{%- endblock -%}

{%- block fichit_int_row -%}
    {{ form_area_start(widget.formArea) }}
    {% if form.parent.vars.mode is same as('DISPLAY') %}
        <div>{{ form.vars.value }}</div>
    {% elseif form.parent.vars.mode is same as('SEARCH') %}
        {{ form_widget(form.criteria) }}
        {{ form_widget(form.value) }}
        {{ form_widget(form.value2) }}
    {% else %}
        {{- block('integer_widget') -}}
        {{ form_errors(form) }}
    {% endif %}
    {{ form_area_end(widget.formArea) }}
{%- endblock -%}

{%- block fichit_float_row -%}
    {{ form_area_start(widget.formArea) }}
    {% if form.parent.vars.mode is same as('DISPLAY') %}
        <div>{{ form.vars.value }}</div>
    {% elseif form.parent.vars.mode is same as('SEARCH') %}
        {{ form_widget(form.criteria) }}
        {{ form_widget(form.value) }}
        {{ form_widget(form.value2) }}
    {% else %}
        {{- block('integer_widget') -}}
        {{ form_errors(form) }}
    {% endif %}
    {{ form_area_end(widget.formArea) }}
{%- endblock -%}

{%- block fichit_text_row -%}
    {{ form_area_start(widget.formArea) }}
        {% if form.parent.vars.mode is same as('DISPLAY') %}
            <div>{{ form.vars.value }}</div>
        {% elseif form.parent.vars.mode is same as('SEARCH') %}
            {{ form_widget(form.criteria) }}
            {{ form_widget(form.value) }}
        {% else %}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        {% endif %}
    {{ form_area_end(widget.formArea) }}
{%- endblock -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul>
            {%- for error in errors -%}
                <li>
                    <small>{{ error.message }}</small>
                </li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}

{%- block form_start -%}
    {% if form.vars.mode is same as('DISPLAY') %}
        <div id="fiche">
    {% else %}
        {{ parent() }}
    {% endif %}
{%- endblock form_start -%}

{%- block form_end -%}
    {% if form.vars.mode is same as('DISPLAY') %}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{%- endblock -%}