{% extends 'form_div_layout.html.twig' %}

{%- block fichit_empty_row -%}
    <div class="widget-empty" style="width:{{ widget.formArea.width }}%;"></div>
{% endblock %}

{%- block fichit_label_row -%}
    {{ form_area_start(widget.formArea) }}
        {% set textAlign = widget.textAlignSetting|default( textAlignPositions.toArray()|first ) %}
        <div style="text-align:{{ textAlign }}; color:{{ widget.textColor }};">
            {% if form.parent.vars.mode is same as('DISPLAY') %}
                <div>{{ widget.innerText }}</div>
            {% else %}
                <label>{{ widget.innerText }}</label>
            {% endif %}
        </div>
    {{ form_area_end(widget.formArea) }}
{%- endblock -%}

{%- block fichit_string_row -%}
    {{ form_area_start(widget.formArea) }}
        {% if form.parent.vars.mode is same as('DISPLAY') %}
            <div>{{ form.vars.value }}</div>
        {% else %}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        {% endif %}
    {{ form_area_end(widget.formArea) }}
{%- endblock -%}

{%- block fichit_text_row -%}
    {{ form_area_start(widget.formArea) }}
        {% if form.parent.vars.mode is same as('DISPLAY') %}
            <div>{{ form.vars.value }}</div>
        {% else %}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        {% endif %}
    {{ form_area_end(widget.formArea) }}
{%- endblock -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul>
            {%- for error in errors -%}
                <li>
                    <small>{{ error.message }}</small>
                </li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}

{%- block form_start -%}
    {% if form.vars.mode is same as('DISPLAY') %}
        <div id="fiche">
    {% else %}
        {{ parent() }}
    {% endif %}
{%- endblock form_start -%}

{%- block form_end -%}
    {% if form.vars.mode is same as('DISPLAY') %}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{%- endblock -%}