{%- block fichit_label_row -%}
    {% set textAlign = widget.textAlignSetting|default( textAlignPositions.toArray()|first ) %}
    <div style="width:{{ widget.formArea.width }}%; text-align:{{ textAlign }};">
        {% if form.parent.vars.mode is same as('DISPLAY') %}
            <div>{{ widget.innerTextSetting }}</div>
        {% else %}
            <label>{{ widget.innerTextSetting }}</label>
        {% endif %}
    </div>
{%- endblock -%}

{%- block fichit_string_row -%}
    <div style="width:{{ widget.formArea.width }}%;">
        {% if form.parent.vars.mode is same as('DISPLAY') %}
            <div>{{ form.vars.value }}</div>
        {% else %}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        {% endif %}
    </div>
{%- endblock -%}

{%- block fichit_text_row -%}
    <div style="width:{{ widget.formArea.width }}%;">
        {% if form.parent.vars.mode is same as('DISPLAY') %}
            <div>{{ form.vars.value }}</div>
        {% else %}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        {% endif %}
    </div>
{%- endblock -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul>
            {%- for error in errors -%}
                <li>
                    <small>{{ error.message }}</small>
                </li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}