<div>
    {{ form_start(form) }}

        {% for field in form %}
                {{ form_errors(field) }}
        {% endfor %}


        <div>
                {{ form_row(form.innerText) }}
        </div>

        <div>
                {{ form_row(form.textAlign) }}
        </div>

        <div>
                {{ form_row(form.textColor) }}
        </div>

        <hr>
        <button>Appliquer</button>

    {{ form_end(form) }}
</div>