{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('add_fiche') }}
{% endblock %}

{% block body %}
    <h1>Add fiche to {{ category.name }}</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

        <div>
            {{ form_row(form.title) }}
        </div>

        <hr>

        <div>
            {{ form_widget(form) }}
        </div>

        <hr>

        <button>Submit</button>
    {{ form_end(form) }}

{% endblock %}


