{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('pictureUploader') }}
    {{ encore_entry_script_tags('categoryForm') }}
{% endblock %}

{% block title %}{{ 'edit.category.page.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'edit.category.page.title'|trans }} {{ category.name }}</h1>

    {% for label, messages in app.flashes(['draftFormPublished', 'draftFormDeleted']) %}
        <div>
            {% for message in messages %}
                <p>{{ label }}</p>
            {% endfor %}
        </div>
    {% endfor %}
    
    <p>
        {% if category.draftForm is not null %}
            <a href="{{ url('category.setAndEditDraftForm', {'id': category.id}) }}">
                {{ 'edit.category.modify.form.existing.draft'|trans }}
            </a>
            <br>
        {% endif %}

        <a href="{{ url('category.setAndEditDraftForm', {'id': category.id, 'new': true}) }}">
            {{ 'edit.category.modify.form.new.draft'|trans }}
        </a>
    </p>

    {{ include('category/_form.html.twig', {'button_label': 'edit.category.update.btn'|trans }) }}

    <a href="{{ path('category.index') }}">{{ 'edit.category.back.link'|trans }}</a>

    {{ include('category/_delete_form.html.twig') }}

{% endblock %}
