{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <h1>Edit Category</h1>

    {% for label, messages in app.flashes(['draftFormPublished', 'draftFormDeleted']) %}
        <div>
            {% for message in messages %}
                <p>{{ label }}</p>
            {% endfor %}
        </div>
    {% endfor %}
    
    <p>
        {% if category.draftForm is not null %}
            <a href="{{ url('category.setAndEditDraftForm', {'id': category.id}) }}">
                Modify the form (existing draft)
            </a>
            <br>
        {% endif %}

        <a href="{{ url('category.setAndEditDraftForm', {'id': category.id, 'new': true}) }}">
            Modify the form (new draft)
        </a>
    </p>

    {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('category.index') }}">back to list</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
