{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('categoryIndex') }}
{% endblock %}

{% block body %}
    <div id="categoryIndex">
        <div id="categoryIndex_Header">
            <div id="categoryIndex_Header_TitleAndBtnNew">
                <h1>Les collections</h1>
                <a class="btn btn-outline" href="{{ url('category.new') }}">+ créer</a>
            </div>
            <div id="categoryIndex_Header_Search">
                {{ form_start(categorySearchByTitleForm) }}
                {{ form_widget(categorySearchByTitleForm.title) }}
                {{ form_end(categorySearchByTitleForm) }}
                <a href="#" class="btn openModal" data-target-selector="#categoriesSearchModal">
                    <i class="fas fa-sliders-h icon"></i>
                </a>
            </div>
        </div>

        <div id="categoryIndex_Body" class="{{ paginator.lastPage == 1 ? 'single-page' : '' }}">
            {% if categories is not empty %}
                <ul id="CategoriesList">
                    {% for category in categories %}
                        {% set target = url('category.show', {'id': category.id}) %}
                        <li class="CategoriesList_Item link" data-target="{{ target }}">
                            {{ showPicture(category.picture) }}
                            <div class="Item_Overview">
                                <h2 class="Item_Name">{{ category.name }}</h2>
                            </div>
                        </li>
                    {% endfor %}

                    {% for i in 0 .. 100 %}
                        <li class="CategoriesList_Item placeholder"></li>
                    {% endfor %}

                </ul>
            {% endif %}
        </div>

        {% if paginator.lastPage > 1 %}
            <div id="categoryIndex_Footer">
                {% if categories is not empty %}
                    {{ include('_paginator.html.twig') }}
                {% endif %}
            </div>
        {% endif %}
    </div>

    {# Modal for more filters #}
    {% include 'category/_search.modal.html.twig' with {'form': categorySearchByMoreForm} %}

{% endblock %}

