{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1>Category index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Picture</th>
                <th>Name</th>
                <th>Description</th>
                <th>CreatedAt</th>
                <th>Published</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>
                    {% if category.picture %}
                        <img src="{{ absolute_url(asset(picturesDir ~ category.picture.filename)) | imagine_filter('category_picture_thumbnail')  }}" alt="{{ category.picture.filename }}" width="100" height="100">
                    {% endif %}
                </td>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td>{{ category.createdAt ? category.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ category.published ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('category.show', {'id': category.id}) }}">show</a>
                    <a href="{{ path('category.edit', {'id': category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('category.new') }}">Create new</a>
{% endblock %}
