{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('categoryIndex') }}
{% endblock %}

{% block body %}
    <div id="CategoriesIndex">
        <div id="CategoriesIndex_Header">
            <a class="btn" href="{{ url('category.new') }}">+ Nouvelle collection</a>
        </div>
        <div id="CategoriesIndex_List">
            {% if categories is not empty %}
                <ul>
                    {% for category in categories %}
                        <li class="CategoriesIndex_List_Item">
                            {{ showPicture(category.picture) }}
                            <h2 class="CategoriesIndex_List_Item_Name">{{ category.name }}</h2>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div id="CategoriesIndex_Footer">
            {{ include('_paginator.html.twig') }}
        </div>
    </div>
{% endblock %}
