{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('categoryIndex') }}
{% endblock %}

{% block body %}

    <div class="listOfCategories uk-padding-large">
        <div uk-grid>
            {% for category in categories %}

                {% set showUrl = url('category.show', {id: category.id}) %}

                <div class="uk-width-1-6 link" data-target="{{ showUrl }}">
                    <div class="listOfCategories_Card">
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-media-top">
                                {{ showPicture(category.picture, 'category_picture_thumbnail') }}
                            </div>
                            <div class="listOfCategories_Card_Body uk-card-body">
                                <div class="listOfCategories_Card_Title uk-card-title">
                                    <a href="{{ showUrl }}">
                                        {{ category.name }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                No records
            {% endfor %}
        </div>
    </div>

    <a href="{{ path('category.new') }}">Create new</a>
{% endblock %}
