{% extends 'category/base.html.twig' %}

{% form_theme form 'form/TWIG_widget_types.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('fiche') }}
    {{ encore_entry_link_tags('category/search') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('category/search') }}
{% endblock %}

{% block category_body %}
        <h2>Rechercher dans {{ category.name }}</h2>

        <div style="width:600px;">
                {{ form_start(form) }}

                <div>
                    {{ form_label(form.title.criteria) }}
                    {{ form_widget(form.title.criteria) }}
                    {{ form_widget(form.title.value) }}
                </div>

                <hr>

                    {{ form_widget(form) }}

                    {% if search.id %}
                        <a href="{{ url('category.searchFiches', {'categoryId': category.id}) }}">
                            <button type="button">Reset</button>
                        </a>
                    {% else %}
                        <button type="reset">Reset</button>
                    {% endif %}

                    <button>Rechercher</button>
                {{ form_end(form) }}
        </div>
{% endblock %}


