{% extends 'base.html.twig' %}
{% form_theme form 'form/TWIG_widget_types.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('fiche') }}
    {{ encore_entry_link_tags('category/search') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('category/search') }}
{% endblock %}

{% block body %}
        <h2>Rechercher dans {{ category.name }}</h2>

        <div style="width:600px;">
                {{ form_start(form) }}

                <div>
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title) }}
                    {{ form_errors(form.title) }}
                </div>

                    {{ form_widget(form) }}
                    <button>Rechercher</button>
                {{ form_end(form) }}
        </div>
{% endblock %}


