{% extends 'base.html.twig' %}
{% form_theme form 'form/TWIG_widget_types.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('fiche') }}
    {{ encore_entry_link_tags('category/search') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('category/search') }}
{% endblock %}

{% block body %}
        <h2>{{ 'search.in.collection.title'|trans }} {{ category.name }}</h2>

        <div style="width:600px;">
                {{ form_start(form) }}

                <div>
                    {{ form_label(form.title.criteria) }}
                    {{ form_widget(form.title.criteria) }}
                    {{ form_widget(form.title.value) }}
                </div>

                <hr>

                    {{ form_widget(form) }}

                    {% if search.id %}
                        <a href="{{ url('category.searchFiches', {'categoryId': category.id}) }}">
                            <button type="button">{{ 'search.in.collection.reset.btn'|trans }}</button>
                        </a>
                    {% else %}
                        <button type="reset">{{ 'search.in.collection.reset.btn'|trans }}</button>
                    {% endif %}

                    <button>{{ 'search.in.collection.search.btn'|trans }}</button>
                {{ form_end(form) }}
        </div>
{% endblock %}


