{%- block picture_uploader_row -%}
    <div class="picture_uploader">
        {{ form_start(form) }}
            {{ form_widget(form) }}

            <div class="picture-preview">
                <img />
            </div>

            <button type="submit">Valider</button>
        {{ form_end(form) }}
    </div>
{%- endblock -%}

{%- block custom_picture_row -%}
    {% set pictureUniqueId = form.vars.uniqueId %}
    {% set picture = form.vars.picture %}
    {% set pictureURL = picture ? app.request.schemeAndHttpHost ~ '/' ~ picturePublicUploadDir ~ '/' ~ picture.filename : null %}
    {{ form_widget(form) }}
    <img class="img-preview" data-unique-id="{{ pictureUniqueId }}" style="max-width: 300px;" src="{{ pictureURL }}" />
    <button class="btn-delete {{ pictureURL ? '' : 'hidden' }}" data-unique-id="{{ pictureUniqueId }}" type="button">Remove</button>
{%- endblock -%}