{%- block picture_uploader_row -%}
    <div class="picture_uploader">
        {{ form_start(form) }}
            {{ form_widget(form) }}

            <div class="picture-preview">
                <img />
            </div>

            <button type="submit">Valider</button>
        {{ form_end(form) }}
    </div>
{%- endblock -%}

{%- block custom_picture_row -%}
    <div>
        {% set pictureUniqueId = form.vars.uniqueId %}
        {% set picture = form.vars.picture %}
        {% set pictureURL = picture ? app.request.schemeAndHttpHost ~ '/' ~ picturePublicUploadDir ~ '/' ~ picture.filename : null %}
        {% if pictureURL is not null and liipImagineFilter is not null %}
            {% set pictureURL = pictureURL | imagine_filter(liipImagineFilter)  %}
        {% endif %}

        <div>
            {{ form_widget(form) }}
        </div>

        <div>
            <img class="img-preview" data-unique-id="{{ pictureUniqueId }}" style="max-width: 100%;" src="{{ pictureURL }}" />
        </div>

        {% if form.vars.deletable %}
            <div>
                <button class="btn-delete {{ pictureURL ? '' : 'hidden' }}" data-unique-id="{{ pictureUniqueId }}" type="button">Remove</button>
            </div>
        {% endif %}
    </div>
{%- endblock -%}