{% set selectedMenuItem = app.request.attributes.get('menu') %}

<nav id="Adoccia_Header_Nav">
    <a class="Adoccia_Header_NavLink {{ selectedMenuItem == 'category' ? 'active' : '' }}" href="{{ url('category.index') }}">
        <i class="fab fa-pagelines font-size-25px margin-right-7px"></i> {{ 'menu.link.collections'|trans }}
    </a>
    <a class="Adoccia_Header_NavLink {{ selectedMenuItem == 'about' ? 'active' : '' }}" href="{{ url('app.about') }}">
        <i class="fas fa-question-circle font-size-25px margin-right-7px"></i> {{ 'menu.link.help'|trans }}
    </a>

    {% if app.user %}
        <a class="Adoccia_Header_NavLink {{ selectedMenuItem == 'feedback' ? 'active' : '' }}" href="{{ url('app.feedback') }}">
            <i class="fas fa-comment-dots font-size-25px margin-right-7px"></i> {{ 'menu.link.feedback'|trans }}
        </a>

        <a class="Adoccia_Header_NavLink xl-at-end openModal" data-target-selector="#modalAccount" href="#">
            <i class="fas fa-user-circle font-size-25px margin-right-7px"></i>&nbsp;{{ app.user.username }}
        </a>
    {% else %}
        <a class="Adoccia_Header_NavLink xl-at-end {{ selectedMenuItem == 'user' ? 'active' : '' }}" href="{{ url('app.login') }}">
            <i class="fas fa-sign-in-alt font-size-25px margin-right-7px"></i> {{ 'menu.link.sign_in'|trans }}
        </a>
    {% endif %}

</nav>