{# array:3 [▼
  "currentPage" => 1
  "itemsPerPage" => 2
  "totalItems" => 7
] #}

{% set currentPage = paginator.currentPage %}
{% set firstPage = 1 %}
{% set lastPage = (paginator.totalItems / paginator.itemsPerPage)|round(0, 'ceil') %}
{% set rangeStart = (currentPage - 2) .. (currentPage - 1) %}
{% set rangeEnd = (currentPage + 1) .. (currentPage + 2) %}
{% set previous = currentPage - 1 %}
{% set next = currentPage + 1 %}

{% set queryParams = app.request.query %}

{% if lastPage != 1 %}
    <ul class="adoccia-paginator uk-pagination uk-flex-center uk-grid-collapse uk-margin-large-top" uk-margin>

        {% if previous > 0 %}
            {% set queryParams = queryParams|merge({'page': previous}) %}
            <li class="paginator_item_arrow">
                <a href="{{ url('category.index', queryParams) }}">
                    Prev
                </a>
            </li>
        {% endif %}

        {% if firstPage != currentPage and firstPage not in rangeStart %}
            {% set queryParams = queryParams|merge({'page': firstPage}) %}
            <li class="paginator_item_far">
                <a href="{{ url('category.index', queryParams) }}">{{ firstPage }}</a>
            </li>
            <li class="paginator_dots uk-disabled"><span>...</span></li>
        {% endif %}


        {% for i in rangeStart %}
            {% if i >= firstPage %}
                {% set queryParams = queryParams|merge({'page': i}) %}
                <li class="paginator_item_close">
                    <a href="{{ url('category.index', queryParams) }}">{{ i }}</a>
                </li>
            {% endif %}
        {% endfor %}

        <li class="paginator_item_current uk-active">
            <a href="#">{{ currentPage }}</a>
        </li>

        {% for i in rangeEnd %}
            {% if i <= lastPage  %}
                {% set queryParams = queryParams|merge({'page': i}) %}
                <li class="paginator_item_close">
                    <a href="{{ url('category.index', queryParams) }}">{{ i }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if lastPage != currentPage and lastPage not in rangeEnd %}
            {% set queryParams = queryParams|merge({'page': lastPage}) %}
            <li class="paginator_dots uk-disabled"><span>...</span></li>
            <li class="paginator_item_far">
                <a href="{{ url('category.index', queryParams) }}">{{ lastPage }}</a>
            </li>
        {% endif %}

        {% if next <= lastPage %}
            {% set queryParams = queryParams|merge({'page': next}) %}
            <li class="paginator_item_arrow">
                <a href="{{ url('category.index', queryParams) }}">
                    Next
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}