<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap" rel="stylesheet">
        {{ encore_entry_link_tags('layout') }}
    {% endblock %}
</head>
<body>

    <div id="Adoccia">
        <div id="Adoccia_Header">
            <h1 id="Adoccia_Header_Title">
                <a id="Adoccia_Header_Title_Link" href="{{ url('app.homepage') }}">ADOCCIA</a>
            </h1>
            {{ include('_menu.html.twig') }}
        </div>
        <div id="Adoccia_Body">
            {%- block body -%}
            {%- endblock -%}
        </div>
    </div>

    {% if app.user %}
        {{ include('_account.modal.html.twig') }}
        {{ include('_picture_uploader.modal.html.twig') }}
    {% endif %}





    {%- block javascripts -%}
        {{ load_Leaflet_script() }}
        {{ encore_entry_script_tags('app') }}
        {% include '_endpoints.html.twig' %}
        <script src="https://kit.fontawesome.com/c6268521db.js" crossorigin="anonymous"></script>
    {%- endblock -%}

</body>
</html>
