<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap" rel="stylesheet">
    {% block stylesheets %}
        {{ encore_entry_link_tags('layout') }}
    {% endblock %}
</head>
<body>

    <div id="Adoccia">
        <div id="Adoccia_Header">
            <h1 id="Adoccia_Header_Title">ADOCCIA</h1>
            <nav id="Adoccia_Header_Nav">
                <a class="Adoccia_Header_NavLink active" href="{{ url('category.index') }}">
                    COLLECTIONS
                </a>
                <a class="Adoccia_Header_NavLink" href="{{ url('app.about') }}">
                    A PROPOS
                </a>
            </nav>
        </div>
        <div id="Adoccia_Body">
            {%- block body -%}
            {%- endblock -%}
        </div>
    </div>

    {%- block javascripts -%}
        {{ load_Leaflet_script() }}
        {{ encore_entry_script_tags('app') }}
        {% include '_endpoints.html.twig' %}
        <script src="https://kit.fontawesome.com/c6268521db.js" crossorigin="anonymous"></script>
    {%- endblock -%}

</body>
</html>
