{% form_theme form with ['form/TWIG_widget_types.html.twig', 'formTheme/custom_form_theme.html.twig'] %}
{% set isFormPreview = isFormPreview|default(false) %}

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    {% if not isFormPreview %}
        {# The field setPublished is automatically set at the end of the form #}
        {% if form.vars.mode is same as('EDITION') %}
            {% set publishedWidget = form_widget(form.published) %}
            <div>
                {{ form_label(form.title) }}
                {{ form_widget(form.title) }}
                {{ form_errors(form.title) }}
            </div>

            <div style="width:200px;">
                {{ form_row(form.picture) }}
                {{ form_errors(form.picture) }}
            </div>

            <hr>
        {% endif %}
    {% endif %}

    {# for both display and edition #}
    <div>
        {{ form_widget(form) }}
    </div>

    {% if not isFormPreview %}
        {% if form.vars.mode is same as('EDITION') %}
            <hr>

            <div>
                <label>
                    {% if fiche.id is not null %}
                        <span>En ligne</span>
                    {% else %}
                        <span>Publier la fiche immédiatement</span>
                    {% endif %}

                    {{ publishedWidget|raw }}
                </label>
            </div>

            <br><br>

            <button>Submit</button>
        {% endif %}
    {% endif %}
{{ form_end(form) }}

{{ include('_picture_uploader.modal.html.twig') }}