{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('fiche') }}
    {{ encore_entry_link_tags('mapsBuilder') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('mapsBuilder') }}
    {{ encore_entry_script_tags('ficheForm') }}
    {{ encore_entry_script_tags('pictureUploader') }}
{% endblock %}

{% block body %}
    <h1>Modifier la fiche "{{ fiche.title }}"</h1>
    <hr>

    {% for label, messages in app.flashes(['editFicheError']) %}
        {% for message in messages %}
            <p>{{ label }}</p>
        {% endfor %}
    {% endfor %}

    <div style="width:600px;">
        {% include 'fiche/_fiche.html.twig' with {'form': form, 'fiche': fiche} %}
    </div>
{% endblock %}

