{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('fiche') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('mapsBuilder') }}
{% endblock %}

{% block body %}
    <h1>{{ fiche.title }}</h1>

    {% if is_granted('CAN_EDIT_FICHE', fiche) %}
        <a href="{{ url('fiche.edit', {'id': fiche.id}) }}">Edit</a>
    {% endif %}

    <div id="fiche" style="width:600px;">
    {{ ficheView|raw }}
    </div>

{% endblock %}