{% extends 'base.html.twig' %}

{% block title %}
    Reset Password
{% endblock %}

{% block body %}

    {% if action == 'cry' %}
        <h2>Reset password</h2>
        {{ form_start(form) }}
            {{ form_row(form) }}
            <button>Send me an email</button>
        {{ form_end(form) }}

    {% else %}

        <h2>Reset password</h2>
        {{ form_start(form) }}
            {{ form_row(form) }}
            <button>I'm done</button>
        {{ form_end(form) }}
    {% endif %}

{% endblock %}


